body {
    /* font-family:sans-serif!important; */
}

#tinymce {
  padding:16px;
}

.lead {
    font-size:18px;
    font-weight:bold;
}

.button {
  display:inline-block;
  padding:10px;
  background:blue;
  color:white;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 24px;
  
}

.h1,
h1 {
  font-size: 30px;  
}

.h2,
h2 {
  font-size: 40px;
}

.h3,
h3 {
  font-size: 32px;
}

.h4,
h4 {
  font-size: 24px;
}

.h5,
h5 {
  font-size: 20px;
}

.h6,
h6 {
  font-size: 16px;
}