[name='BlockSplitContent'] {
    > div {
      display:flex;
      flex-direction:column;
      @media screen and (min-width:992px) {
        flex-direction:row;
        gap:40px;
      }
      .image {
        position:relative;
        padding-top:56.25%;
        margin-bottom:20px;
        overflow:hidden;
        @media screen and (min-width:992px) {
          padding:0;
          margin-bottom:0;
          flex:0 1 50%;      
          &.image-right {
            order:2;
          }
        }
      }
      .content {
        position:relative;
        .ctas {
          display:flex;
          a {
            margin:0 10px 10px 0;
          }      
        }
        @media screen and (min-width:992px) {
          flex:0 1 50%;
          padding:40px 0;
        }
      }
    }
  }
